<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div><a href="#" th:href="@{/genres}">Назад</a></div>
<form action="#" th:action="@{/genre/{id}(id=${genre.id})}" th:object="${genre}" method="post">
    <h2>Жанр</h2>
    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:field="*{id}" value="1"/>
    </div>
    <div class="row">
        <label for="genre-name-input">Имя:</label>
        <input id="genre-name-input" type="text" th:field="*{genreName}" value="Лев"/>
    </div>
    <div class="row">
        <button type="submit">Отправить</button>
    </div>
</form>
</body>
</html>